body {
  background: #454D54;
}

nav.navbar-material {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  background: #75AF18;
  border: none;
  box-shadow: none;
}

.navbar-material .nav-wrapper {
  background: #75AF18;
  margin: 20px;
}

.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

.navbar-material .nav-wrapper .button-collapse i {
  color: black;
}

@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}
